
  h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    text-align: center;
    font-weight: 100;
    color: whitesmoke;
  }
  
  h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight:100;
    color: whitesmoke;
    font-size: 3em;
    text-align: center;
    margin-top: 2em;
  }
  
  body{
    background-color: black;
  }
  
  .interest {
    font-family: Arial, Helvetica, sans-serif
    font-weight: 100;
    color: pink;
    font-size: 3em;
    text-align: center;
    margin-top: 2em;
  }
  
  .container {
    display: flex;
    gap: 0.625%;
  }

  a {
    flex: 1;
    text-decoration: none;
    outline: none;
    text-align: center;
    line-height: 3;
    color: black;
  }
  
  a:link,
  a:visited,
  a:focus {
    background: rgb(232, 229, 194);
    color: black;
  }
  
  a:hover {
    background: orange;
  }
  
  a:active {
    background: darkred;
    color: white;
  }